body {
    background-color: white;
}

.header {
    padding: 0.4em 0.5em;
    font-size: 1.5em;
    background-color: $light-grey;

    .fa-search {
        float: right;
    }

    .fa-search:hover {
        cursor: pointer;
    }
}

.logo {
    display: block;
    margin: 10em auto 0;

    width: 10em;
}

.footer {
    position: absolute;
    bottom: 0;
    background-color: $light-grey;
    color: black;
    text-align: center;
    width: 100%;
    padding: 0.5em 0;
}




